@model TestingApp.Models.TestAppRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Record Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issue_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issue_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issue_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issue_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assigned_Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assigned_Developer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assigned_Tester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assigned_Tester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cycle_Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cycle_Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Per_Cycle_Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Per_Cycle_Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Release_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Release_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
